@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 10px;
    margin-right: 32px;
    border-radius: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

nav ul li a:hover {
    color: #7d86fd;
}

.login-button button {
    padding: 10px 40px;
    background-color: white;
    border: 2px solid #8B93FF;
    border-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #8B93FF;
    font-weight: 600;
}